<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add connectionString="server=mysql.lrk.si;User Id=mz3944;database=mz3944_b1" name="jado"/>
    <add name="ConnStringDb1" connectionString="Server=Database URL jdbc:mysql://mysql.lrk.si:3306/mz3944_b1?zeroDateTimeBehavior=convertToNull;Database=mz3944_b1;User Id=mz3944; Password=12comand12;" providerName="System.Data.SqlClient"/>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver};Database=YourDatabase;Server=localhost;UID=YourUsername;PWD=YourPassword;"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="CreateThing.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>